# VITE_API_BASE_URL="mock" # or api endpoint "http://localhost:8000"
# VITE_GAME_BASE_URL="mock" # or game endpoint "http://localhost:6101"
# VITE_DEBUG_API_IS_MOCK=true # boolean, true when using mock, false when using API

## Development
VITE_API_BASE_URL=http://43.225.143.245:7000
VITE_GAME_BASE_URL=http://43.225.143.245:7100
VITE_WS_BASE_URL=ws://43.225.143.245:7000
VITE_DEBUG_API_IS_MOCK=false
VITE_LINE_LIFF_ID=2006803175-jL49alQX

## Local
# VITE_API_BASE_URL=http://localhost:8000
# VITE_GAME_BASE_URL=http://localhost:6101
# VITE_WS_BASE_URL=ws://localhost:8000
# VITE_DEBUG_API_IS_MOCK=true
