# for environment settings:
# - https://create-react-app.dev/docs/adding-custom-environment-variables
# - https://vitejs.dev/guide/env-and-mode

## Development
VITE_API_BASE_URL="https://dev.nextgen-education.com/api"
VITE_CLMS_BASE_URL="https://dev-clms.nextgen-education.com"
VITE_LINK_LINE_OA_URL="https://lin.ee/5OpvRTO"
VITE_DEBUG_API_IS_MOCK="false"

# Arcade Games Configuration (JSON string format)
VITE_ARCADE_URL='[{"id":1,"link_game":"https://clever-arcade-1.nextgen-education.com"},{"id":2,"link_game":"https://clever-arcade-2.nextgen-education.com"},{"id":3,"link_game":"https://clever-arcade-3.nextgen-education.com"}]'

## Local
# VITE_API_BASE_URL="http://localhost:8000"
# VITE_LINK_LINE_OA_URL="https://manager.line.biz"
# VITE_DEBUG_API_IS_MOCK="true"
# VITE_ARCADE_URL='[{"id":1,"link_game":"http://localhost:3001/"},{"id":2,"link_game":"http://localhost:3002/"},{"id":3,"link_game":"http://localhost:3003/"}]'


# Replace from separate by array. e.g. url1,url2
VITE_REPLACE_URL_FROM=
# 1 URl
VITE_REPLACE_URL_TO=

