PORT=8000
POSTGRES_URL=postgres://postgres:54935@127.0.0.1:5432/clever-platform?sslmode=disable
#example : DEV,TEST,PROD
ENV=TEST
GCP_INTEGRATED=false
GAME_ARCADE_ACCESS_TOKEN_LIFETIME=1440
RESET_ARCADE_COINS_AMOUNT=0
VIEWABLE_YEARS_PAST=2
MODEL_VERSION_ID=1.0.0
MAX_DB_CONN=100

# CORS
CORS_ALLOW_ORIGINS=https://example.com

# Rate Limit
GLOBAL_LIMIT=
GLOBAL_BURST=
AUTH_LIMIT=
AUTH_BURST=
EXP_LIMIT=
EXP_BURST=

# JWT
ACCESS_TOKEN_LIFETIME=1440
JWT_SECRET=

# Line OAuth
LINE_AUTH_URL=
LINE_TOKEN_URL=
LINE_PROFILE_URL=
LINE_CLIENT_ID=
LINE_CLIENT_SECRET=
LINE_REDIRECT_URI=

#Line Rich Menu
CHANNEL_ACCESS_TOKEN=
TEACHER_RICH_MENU_ID=
STUDENT_RICH_MENU_ID=
PARENT_RICH_MENU_ID=


# Google OAuth
GOOGLE_AUTH_URL=
GOOGLE_TOKEN_URL=
GOOGLE_PROFILE_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Cloud storage provider (etc.. default to huawei OBS)
CLOUD_STORAGE_PROVIDER=

# Huawei OBS
OBS_ACCESS_KEY_ID=
OBS_SECRET_ACCESS_KEY=
OBS_BUCKET_NAME=
OBS_PRESIGNED_URL_LIFETIME=
OBS_ENDPOINT=https://obs.ap-southeast-2.myhuaweicloud.com
# OBS_ENDPOINT=https://obs.ap-southeast-2.myhuaweicloud.com

THIRD_PARTY_STORAGE_ACCESS_KEY_ID=
THIRD_PARTY_STORAGE_SECRET_ACCESS_KEY=
THIRD_PARTY_STORAGE_BUCKET_NAME=
THIRD_PARTY_STORAGE_PRESIGNED_URL_LIFETIME=
THIRD_PARTY_STORAGE_ENDPOINT=

# Google Cloud
GOOGLE_APPLICATION_CREDENTIALS=./google-application-credentials.json