
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="@Url.Content("~/css/helpers/bss-main-page.css")" />
<div class="container" id="container">
    <div class="form-container">
        <form>
            <dev class="default-system-logo">
                <img src="@Url.Content("~/images/landing_page_logo.svg")" />
            </dev>
            <div class="default-system-name">
                <p>ระบบงานนับคัดธนบัตร</p>
            </div>
            <div class="default-system-version">
                <p>Version 1.0.0</p>
            </div>
        </form>
    </div>
</div>

