@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wdth,wght@62.5..100,100..900&display=swap');

.modal {
  font-family: 'Noto Sans Thai';
}

.modal-transition {
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;
}

.transition-top-to-center {
  opacity: 0;
  transform: translateY(-50%);
}

.transition-top-to-center-loaded {
  opacity: 1;
  transform: translateY(0);
}

.bounce-animation {
  animation: bounce 0.5s ease-out;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY();
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
