.range-slider {
  position: relative;

  --track-background: linear-gradient(270deg, #fca726 0%, #ff6b00 50%, #c00 100%);
  --track-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
  --margin-top-to-center: -1.125rem;

  /*********** Baseline, reset styles ***********/
  input[type='range'] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    cursor: grabbing;
    width: 100%;
  }

  input[type='range']:disabled {
    pointer-events: none;
  }

  /* Removes default focus */
  input[type='range']:focus {
    outline: none;
  }

  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  /* input[type='range']::-webkit-slider-runnable-track {
    border: 1px solid white;
    background: var(--background-track);
    border-radius: 3rem;
    height: 0.75rem;
  } */

  /* slider thumb */
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    box-shadow: none;
    margin-top: var(--margin-top-to-center); /* Centers thumb on the track */
    background-color: transparent;
    border-radius: 0.75rem;
    height: 1.25rem;
    width: 1.25rem;
  }

  /* thumb focus */
  /* input[type='range']:focus::-webkit-slider-thumb {
    outline: 3px solid black;
    outline-offset: 0.25rem;
  } */

  /*********** Firefox styles ***********/
  /* slider track */
  /* input[type='range']::-moz-range-track {
    border: 1px solid white;
    background: var(--background-track);
    border-radius: 3rem;
    height: 0.75rem;
  } */

  /* slider thumb */
  input[type='range']::-moz-range-thumb {
    background-color: transparent;
    border: none;
    margin-top: var(--margin-top-to-center); /* Centers thumb on the track */
    border-radius: 0.75rem;
    height: 1.25rem;
    width: 1.25rem;
  }

  /* thumb focus */
  /* input[type='range']:focus::-moz-range-thumb {
    outline: 3px solid black;
    outline-offset: 0.125rem;
  } */

  .slider {
    --percent-value: (var(--value-x) - var(--min)) / (var(--max) - var(--min));
    --bg-breakpoint-1: calc(100% * var(--percent-value));
    --bg-breakpoint-2: calc(var(--bg-breakpoint-1) * 0.5);

    position: absolute;
    width: 100%;
    height: 0.8rem;
    border-radius: 0.75rem;
    border-color: white;
    border-width: 1px;

    top: 0.3rem;
    left: 0;
    background: var(--track-background);
    background: linear-gradient(
      to right,
      #dbc096 0%,
      #ff6b00 var(--bg-breakpoint-2),
      #c00 var(--bg-breakpoint-1),
      white var(--bg-breakpoint-1),
      white 100%
    );
    box-shadow: var(--track-shadow);
    pointer-events: none;
  }

  input[type='range']:disabled + .slider {
    filter: brightness(0.75);
    pointer-events: none;
  }
}
