# FTP (auto-starts with devcontainer)
FTP_USER=ftpuser
FTP_PASSWORD=
FTP_PASV_ADDRESS=localhost
FTP_PORT=9221
FTP_PASV_MIN_PORT=9200
FTP_PASV_MAX_PORT=9220

# SonarQube Server (optional — run: docker compose up sonarqube)
SONAR_PORT=9090

# SonarQube Scanner (push scan results)
# ใช้ local:  SONAR_SCANNER_HOST=http://host.docker.internal:9090
# ใช้ remote: SONAR_SCANNER_HOST=https://sonarqube.dewviee.com
SONAR_SCANNER_HOST=http://host.docker.internal:9090
SONAR_SCANNER_TOKEN=



#########################################
SMTP_DEV_MAIL_PORT=
SMTP_DEV_WEB_PORT=

# for local this not neccessary
SMTP_DEV_WEB_USERNAME=
SMTP_DEV_WEB_PASSWORD=
#########################################