.mspace.newline {
  display: block;
  margin: 0.5em 0;
}

.overline-line,
.frac-line {
  border-color: black;
}

.print-content {
  display: none;

  @media print {
    display: block;
    @page {
      margin: 3rem 3rem 3rem 3rem;
    }
  }
}
