## for environment settings:
## - https://create-react-app.dev/docs/adding-custom-environment-variables
## - https://vitejs.dev/guide/env-and-mode

## arcade GAME ID
## fruit ninja = 1, last war = 2, survivor.io = 3
VITE_ARCADE_GAME_ID=1

# ## Local
# VITE_API_BASE_URL="http://localhost:8000"
# VITE_GAME_BASE_URL="http://localhost:6101"

## Development
VITE_API_BASE_URL="https://dev.nextgen-education.com/api"
VITE_GAME_BASE_URL="https://dev.nextgen-education.com"
VITE_DEBUG_CODE="dzqiki"

## Staging
## example debug code for staging, 
# VITE_DEBUG_CODE="oaqvmm" 

## Production
## example debug code for production,
# VITE_DEBUG_CODE="ysfeqw"

#### Important note about VITE_DEBUG_CODE ####
## VITE_DEBUG_CODE - Enable debug mode via URL parameter
## Set to any string value to enable debug mode via URL parameter.
## VITE_DEBUG_CODE can be the same for all games but must be unique per environment.

## Useful for testing without changing env files,
## each environment URL with /?debugCode can be shared with external developers, testers, customers.
## developer team can setup "new" VITE_DEBUG_CODE after each test phase or release phase.

## Usage: 
## In .env (example), 
## VITE_DEBUG_CODE="dzqiki"
## In URL (example), 
## http://localhost:3000/?debugCode=dzqiki
## In code,
## const isDebugMode = import.meta.env.VITE_DEBUG_CODE === 
##   new URLSearchParams(window.location.search).get('debugCode');

## Debug Code matched showings Wave Config Editor
## matched to enable config editor modal before game starts
## not matched to skip config editor and start game immediately
####
