/* GameplayStatusBar.css */
.autoscroll {
  animation: scrollLeft 20s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}
